*{
	margin: 0;
	padding: 0;
}

.error{
	color:rgba(255,0,0);
	font-size:12px;
}

.logo{
	width: 17%;
	float: left;
	margin-top: -110px;
	margin-right: -10px;
}
.navbar{
	display: inline-block;
	text-decoration: none;
	background: #4B4B4B;
	margin: auto;
	height: 50px;
	padding: 20px;

}

a{
	text-decoration: none;
	color: white;
}
.navbar a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 50px;
	font-family: Arial; 
	margin: auto;
	margin-left: 30px;
	line-height: 33px;

	
}

.navbar a .active
.navar a:hover{
	color: red;
}

.searchLogo{
	float: right;
	margin-top: -30px;
	margin-left: 15px;
	height: 40px;
	width: 40px;
	display: inline-block;
}

body{
	margin: auto;
	font-family: Arial;
	background-color: #D9D7D7;
}


/**{
	box-sizing: border-box;
	outline: none;
}*/

.login-page .box label{
	color: #E2E2E2;
}

.login-page{
	background-color: #4B4B4B;
	background-size: cover;
	height: 150vh;
	position: relative;
}

.login-page:after{
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 1;
}

.login-page .box{
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	width: 280px;
	z-index: 2;
}

.login-page .box .form-head h2{
	text-align: center;
	margin:-85px 0px 20px;
	color:#E2E2E2;
	top: 10px;
}
.login-page .box .form-head h3{
	text-align: center;
	margin:55px 0px 20px;
	color:#E2E2E2;
	top: 10px;
}

.login-page .box .form-body{
	display: flex;
	flex-direction: column;
}
.login-page .box .form-body input{
	height: 40px;
	margin-bottom: 20px;
	border:1px solid #ffffff;
	width: 100%;
	background-color: transparent;
	border-radius: 20px;
	text-align: center;
	color:#ffffff;
	transition:box-shadow .5s ease;
}

.login-page .box .form-body input:focus{
	box-shadow: 0px 0px 10px black;
}

.login-page .box .form-body input::placeholder{
	color:#ffffff;
}

.login-page .box .form-footer {
	text-align: center;
}

.login-page .box .form-footer button{

	height: 40px;
	border-radius: 20px;
	padding: 0px 50px;
	color:#ffffff;
	background-color: #f44336;
	border:none;
	cursor: pointer;
	transition:box-shadow .5s ease;
}

.login-page .box .form-footer button:hover{
	box-shadow: 0px 0px 10px black;
}

select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0;
   background: lightgray;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:black;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
}

select::-ms-expand {
   display: none;
}

.select {
   position: relative;
   display: flex;
   width: 17.5em;
   height: 3em;
   line-height: 3;
   background: #5c6664;
   overflow: hidden;
   border-radius: .25em;
}

.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #2b2e2e;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}

.select:hover::after {
   color: #23b499;
}



.loginform .box1 .boxlog{
	display: flex;
	flex-direction: column;
	padding-top: 20%;
}

.loginform .box1 .boxlog input{
	height: 40px;
	margin-bottom: 20px;
	border:1px solid #ffffff;
	width: 100%;
	background-color: transparent;
	border-radius: 20px;
	text-align: center;
	color:#ffffff;
	transition:box-shadow .5s ease;

}

.loginform .box1 .boxlog input:focus{
	box-shadow: 0px 0px 10px black;
}

.loginform .box1 .boxlog input::placeholder{
	color:#ffffff;
}

.loginform:after{
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 1;
}

.loginform .box1{
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	width: 280px;
	z-index: 2;
}

.loginform .box1 .confirm-footer {
	text-align: center;
}

.loginform .box1 .confirm-footer button{

	height: 40px;
	border-radius: 20px;
	padding: 0px 50px;
	color:#ffffff;
	background-color: #f44336;
	border:none;
	cursor: pointer;
	transition:box-shadow .5s ease;
}

.loginform .box1 .confirm-footer button:hover{
	box-shadow: 0px 0px 10px black;
}

.loginform .box1 .formlist-head h2{
	text-align: center;
	margin:20px 0px 20px;
	color:#ffffff;
	padding-top: 90%;
}








